<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
    <file>timefold.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="fileAppender" />
  </root>

</configuration>
